@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Airstrike';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url('/fonts/airstrike.woff2') format('woff2');
}
@font-face {
  font-family: 'LexendDeca';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url('/fonts/lexend-deca.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'LexendDeca', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-aistrike {
  font-family: 'Airstrike', sans-serif;
}

.debug {
  border: 4px solid red !important;
}

.debug2 {
  border: 4px solid yellow;
}

.debug3 {
  border: 4px solid green;
}

.myswiper .swiper-button-next,
.myswiper .swiper-button-prev {
  color: #fff;
  cursor: pointer;
}
